/*------header------*/
 #headings{
    background: linear-gradient(#f69d3c, #3f87a6);
    height:20%;
   
 }

 .myDark{
    background-color:black;
    color:white;
 }
 
 /*-----icon of e!------*/
 .divisions{
    background-color:white;
    height: 80px;
    width: 80px;
    border-radius:50%;
    position: absolute;
    top: 33px; 
    left: 49px;
    z-index:3;
 }
  
 span{
    font-size: 40px;
    font-weight:bold;
    text-align:center;
    padding: auto;
 }

 .buttons{
    margin-left:12%;
 }

