body{
    margin:auto;
}
/* #main{
    margin-left: -30%;
    margin-right:3%;
} */


#search{
    background-image: url(https://i.ibb.co/VWpBnvy/background.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: blue;
    background-size: 100% 530px;
    height:530px 130%;
    width:100%;
    margin-top: -6%;
    margin-left: -5%;
}
#quicksearch{
    
    height:500px; 
     width:100%; 
}
#login{
    margin-left: 75%;
}
#login> a{
    text-decoration:none;
    color:white;
    font-size: 30px;
    font-family:cursive;
    position:relative;
    bottom:-20px;
}
#create_account{
    border:2px solid white;
}
#logo{
    font-size:90px;
    color:rgb(6, 6, 87);
    text-align:center;
    background-color: white;
    height:150px;
    width:150px;
    margin:auto;
    border-radius: 50%;
}
#logo> span{
    font-weight:bold;
    position:absolute;
    margin-left: -34px;
    margin-top: 3px;
}
#Heading{
    text-align:center;
    color:white;
    margin-top: 30px;
    font-size: 35px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#Heading:hover{
    color:darkmagenta;
}
#dropdown{
    height: 48px;
    width: 55%;
    margin-left: 25%;
    margin-top: 2%;
}
select{
    height:48px;
    width:30%;
    font-size: 20px;
}
#restaurant{
    width:60%;
}


