body{
    margin:auto
}
#header{
    background-color: red;
    height:86px;
    width:100%;
}
.logo{
    height:50px;
    width:50px;
}
a{
    text-decoration:none;
}
#heading{
    color:red;
    margin:21%;
}