/*------header------*/
  #headings{
   background: #DE6262;  /* fallback for old browsers */
   background: -webkit-linear-gradient(to bottom, #FFB88C, #DE6262);  /* Chrome 10-25, Safari 5.1-6 */
   background: linear-gradient(to bottom, #FFB88C, #DE6262); 
    height:20%;
   
 } 

 .myDark{
    background-color:black;
    color:white;
 }
 
 /*-----icon of e!------*/
 .divisions{
    background-color:white;
    height: 80px;
    width: 80px;
    border-radius:50%;
    position: absolute;
    top: 33px; 
    left: 49px;
    z-index:3;
 }
  
 span{
    font-size: 40px;
    font-weight:bold;
    text-align:center;
    padding: auto;
 }

 .buttons{
    margin-left:12%;
 }

